<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{{ item.en_name }} - Albion Crafting Calculator</title>
</head>
<body>
<header>
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search for items...">
        <select id="tier-filter">
            <option value="all">All Tiers</option>
            <option value="4">Tier 4</option>
            <option value="5">Tier 5</option>
            <option value="6">Tier 6</option>
            <option value="7">Tier 7</option>
            <option value="8">Tier 8</option>
        </select>
        <select id="ench-filter">
            <option value="all">All Enchantments</option>
            <option value="0">Enchantment 0</option>
            <option value="1">Enchantment 1</option>
            <option value="2">Enchantment 2</option>
            <option value="3">Enchantment 3</option>
            <option value="4">Enchantment 4</option>
        </select>
        <button id="crafting-page-button">Craft</button>
        <div id="search-results"></div>
    </div>
</header>
<main>
    <div class="tabbed-container">
        <ul class="tabs">
            <li class="active" data-tab="details">Item Details</li>
            <li data-tab="calculator">Calculator</li>
            <li data-tab="ingredients">Ingredients</li>
        </ul>
        <div class="tab-content active" id="details">
            <h1>{{ item.en_name }}</h1>
            <img class="item-image" src="https://render.albiononline.com/v1/item/{{ item.unique_name }}"
                 alt="{{ item.en_name }}">
            <p>Unique Name: {{ item.unique_name }}</p>
            <p>Tier: {{ item.tier }}</p>
            <p>Set: {{ item.set }}</p>
            <p>Enchantment Level: {{ 0 if item.enchantment_level is none else item.enchantment }}</p>
        </div>
        <div class="tab-content" id="calculator">
            <h2>Calculator</h2>
            <div class="calculator">
                <label for="craft-quantity">Enter quantity to craft:</label>
                <input type="number" id="craft-quantity" value="1" min="1">
                <button onclick="calculateCraft({{ item.id }})">Calculate</button>
            </div>
        </div>
        <div class="tab-content" id="ingredients">
            <h2>Ingredients</h2>
            <ul>
                {% for ing, qty in item.ingredients if ing %}
                <li>
                    <img class="ingredient-image" src="https://render.albiononline.com/v1/item/{{ ing }}"
                         alt="{{ ing }}">
                    {{ qty }} x {{ ing }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>
<footer>
    <p>Additional buttons or information here</p>
</footer>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
