<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item.css') }}">
    <title>{{ item.en_name }} - Albion Crafting Calculator</title>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>{{ item.en_name }}</h1>
        <img src="https://render.albiononline.com/v1/item/{{ item.unique_name }}" alt="{{ item.en_name }}"
             class="item-image">
    </div>
    <div class="tabs">
        <button class="tab active" onclick="openTab(event, 'item-details')">Item Details</button>
        <button class="tab" onclick="openTab(event, 'calculator')">Calculator</button>
    </div>
    <div id="item-details" class="tab-content active">
        <p>Unique Name: {{ item.unique_name }}</p>
        <p>Tier: {{ item.tier }}</p>
        <p>Set: {{ item.set }}</p>
        <p>Enchantment Level: {{ 0 if item.enchantment_level is none else item.enchantment }}</p>
        <div class="ingredients">
            <h2>Ingredients:</h2>
            <ul id="ingredient-list">
                {% for ingredient in ingredients %}
                <li>{{ ingredient.quantity }} x <img
                        src="https://render.albiononline.com/v1/item/{{ ingredient.unique_name }}"
                        alt="{{ ingredient.name }}" class="ingredient-image"> {{ ingredient.name }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="calculator" class="tab-content">
        <h2>Crafting Calculator</h2>
        <div class="calculator">
            <label for="craft-quantity">Enter quantity to craft:</label>
            <input type="number" id="craft-quantity" value="1" min="1">
            <button id="calculate-button">Calculate</button>
            <h3>Total Ingredients:</h3>
            <ul id="calculated-ingredient-list"></ul>
            <h3>Total Cost: <span id="total-cost">0</span></h3>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/item.js') }}"></script>
</body>
</html>
